
<!-- navigation --------------------------------------------------------------------------------------------------->
<div class="navigation">
    <h1>Jason McAffee</h1>

    <ul class="navigation-links">
        <li>
            <a href="#" class="selected" scrollTo="#photosSection">PHOTOS</a>
        </li>
        <li>
            <a href="#resume">RESUME</a>
        </li>
        <li>
            <a href="#" scrollTo="#labsSection">LABS</a>
        </li>
        <li>
            <a href="http://music.jasonmcaffee.com">MUSIC</a>
        </li>
    </ul>
</div>

<div id="homePage">
    <!-- photos ---------------------------------------------->
    <div id="photosSection" class="home-section">
        <div class="home-background home-background-1">
            <img src="images/photos/home1.jpg" alt="caves"/>
        </div>

        <div class="home-section-content">
            <h1>Stuff</h1>

            <div class="home-section-tile">
                <a href="http://www.jasonmcaffee.com">Old Photo Site</a>
            </div>

        </div>

    </div>

    <div id="labsSection" class="home-section">
        <div class="home-background home-background-2">
            <img src="images/photos/home2.jpg" alt="blue"/>
        </div>

        <div class="home-section-content">
            <h1>Stuff</h1>

            <div class="home-section-tile">
                <a href="#threejs">WebGL LAB</a>
            </div>

        </div>

    </div>

</div>


