<img class="clouds-background" src="images/clouds_medium.jpg" alt="clouds and blue sky"/>

<div class="transparent-white-background">
    &nbsp;
</div>
<div id="homePage">
    &nbsp;
</div>

<div class="layer-1">
    <div class="layer-2">
        <div class="layer-2a">
            <h1>Jason McAffee</h1>

            <ul id="home-links">
                <li>
                    <a href="#resume">Resume</a>
                </li>
                <li>
                    <a href="#threejs">WebGL Minecraft Demo</a>
                </li>
                <li>
                    <a href="http://www.jasonmcaffee.com">Photography</a>
                </li>
                <li>
                    <a href="http://music.jasonmcaffee.com">Music App</a>
                </li>
            </ul>
        </div>
    </div>

</div>