
<!-- navigation --------------------------------------------------------------------------------------------------->
<div class="navigation">
    <h1>Jason McAffee</h1>

    <ul class="navigation-links">
        <li>
            <a href="#" class="selected" scrollTo="#photosSection">PHOTOS</a>
        </li>
        <li>
            <a href="#resume">RESUME</a>
        </li>
        <li>
            <a href="#" scrollTo="#labsSection">LABS</a>
        </li>
        <li>
            <a href="#" scrollTo="#musicSection">MUSIC</a>
        </li>
        <li>
            <a href="http://codeceratops.jasonmcaffee.com/">BLOG</a>
        </li>
    </ul>
</div>

<div id="homePage">
    <!-- photos ---------------------------------------------->
    <div id="photosSection" class="home-section">
        <div class="home-background home-background-1">
            <img src="images/photos/home1.jpg" alt="caves"/>
        </div>

        <div class="home-section-content">
            <h1>Stuff</h1>

            <div class="home-section-tile">
                <a href="http://www.jasonmcaffee.com">Old Photo Site</a>
            </div>

        </div>

    </div>

    <div id="labsSection" class="home-section">
        <div class="home-background home-background-2">
            <img src="images/photos/home2.jpg" alt="blue"/>
        </div>

        <div class="home-section-content">
            <h1>Stuff</h1>

            <div class="home-section-tile">
                <a href="#threejs">
                    WebGL LAB
                    <img src="images/thumbnails/webgl-screenshot.jpg" alt="webgl screenshot"/>
                </a>
            </div>

            <div class="home-section-tile">
                <a href="#webcam">
                    Webcam
                    <img src="images/thumbnails/webcam-screenshot.jpg" alt="webcam screenshot"/>
                </a>
            </div>

            <div class="home-section-tile">
                <a href="http://jasonmcaffee.com/uiDesignTools/index.html">
                    Webcam
                    <img src="images/thumbnails/uidesigntools-screenshot.jpg" alt="ui design tools screenshot"/>
                </a>
            </div>

        </div>

    </div>

    <div id="musicSection" class="home-section">
        <div class="home-background home-background-3">
            <img src="images/photos/home3.jpg" alt="blue"/>
        </div>

        <div class="home-section-content">
            <h1>Stuff</h1>

            <div class="home-section-tile">
                <a href="http://music.jasonmcaffee.com">
                    Music Library
                    <img src="images/thumbnails/music-screenshot.jpg" alt="webgl screenshot"/>
                </a>
            </div>

            <div class="home-section-tile">
                <a href="http://www.jasonmcaffee.com/bobmcaffee">
                    Bob McAffee
                    <img src="images/thumbnails/bobmcaffee-screenshot.jpg" alt="bobmcaffee screenshot"/>
                </a>
            </div>

            <div class="home-section-tile">
                <a href="http://www.jasonmcaffee.com/bobmcaffee">
                    iTunes - White Noise Album
                    <img src="images/thumbnails/bobmcaffee-screenshot.jpg" alt="bobmcaffee screenshot"/>
                </a>
            </div>

        </div>

    </div>

</div>


