<div id="blogHome-page">
    <a href="#resume">RESUME</a>
    <ul>
        <li>
             Hi there. DO YOU KNOW THE BLOG
        </li>
        <li>
             I am a blog entry
        </li>
        <li>
            I am a blog entry
        </li>
        <li>
            I am a blog entry
        </li>
        <li>
            I am a blog entry
        </li>
        <li>
            I am a blog entry
        </li>
        <li>
            I am a blog entry
        </li>
        <li>
            I am a blog entry
        </li>
        <li>
            I am a blog entry
        </li>
        <li>
            I am a blog entry
        </li>
        <li>
            I am a blog entry
        </li>
        <li>
            I am a blog entry
        </li>
        <li>
            I am a blog entry
        </li>
        <li>
            I am a blog entry
        </li>
        <li>
            I am a blog entry
        </li>
        <li>
            I am a blog entry
        </li>
        <li>
            I am a blog entry
        </li>
        <li>
            I am a blog entry
        </li>
        <li>
            I am a blog entry
        </li>
        <li>
            I am a blog entry
        </li>
        <li>
            I am a blog entry
        </li>
        <li>
            I am a blog entry
        </li>
        <li>
            I am a blog entry
        </li>
        <li>
            I am a blog entry
        </li>
        <li>
            I am a blog entry
        </li>
        <li>
            I am a blog entry
        </li>
        <li>
            I am a blog entry
        </li>
        <li>
            I am a blog entry
        </li>
        <li>
            I am a blog entry
        </li>
        <li>
            I am a blog entry
        </li>
        <li>
            I am a blog entry
        </li>
        <li>
            I am a blog entry
        </li>
        <li>
            I am a blog entry
        </li>
        <li>
            I am a blog entry
        </li>
        <li>
            I am a blog entry
        </li>
        <li>
            I am a blog entry
        </li>
        <li>
            I am a blog entry
        </li>
        <li>
            I am a blog entry
        </li>
        <li>
            I am a blog entry
        </li>
    </ul>
</div>