<div class="sound-node">
    <h4>sound node</h4>

    <label>Node Type</label>
    <select name="selectedNodeType">
        {{#each typeOptions}}
            <option value="{{this}}" {{#if_conditional this ../selectedNodeType}}selected{{/if_conditional}}>{{this}}</option>
        {{/each}}
    </select>

    {{#if_eq selectedNodeType compare="gain"}}
        <div>
            <label>Amount</label>
            <input name="gain.amount" type="range" min="0" max="1" step="0.1" value="{{gain.amount}}">
        </div>
    {{/if_eq}}
    {{#if_eq selectedNodeType compare="delay"}}
    <div>
        <label>Amount</label>
        <input name="delay.delayTime" type="range" min="0" max="10" step="0.1" value="{{delay.delayTime}}">
    </div>
    {{/if_eq}}
    {{#if_eq selectedNodeType compare="panner"}}
        <div>
            <label>Left Right</label>
            <input name="pan.amount" type="range" min="-45" max="45" step="1" value="{{pan.amount}}">
        </div>
    {{/if_eq}}
</div>