<div id="resume-page">
    <a href="#blogs">blogs</a>
    <div class="header">

        {{!face picture}}
        <div>
            <img src="images/face-with-blue-dot.png">
            &nbsp;
        </div>

        {{!name and contact info}}
        <div>
            <h1>Jason McAffee </h1>
            <ul>
                <li>jasonlmcaffee@gmail.com</li>
                <li>614 915 8198</li>
            </ul>
        </div>
    </div>

    <div class="download-and-contact">
        <ul>
            <li>
                <a href="downloads/jason_mcaffee_resume.doc" class="icon-download-alt"></a>
            </li>
            <li>
                <a href="http://www.linkedin.com/pub/jason-mcaffee/66/503/854" class="icon-linkedin-sign">
                    {{! dont use i here as it is messed up with fastbutton on android 4 <i class="icon-linkedin-sign"></i> }}
                </a>
            </li>
            <li>
                <a href="http://www.github.com/jasonmcaffee" class="icon-github-alt"></a>
            </li>
            <li>
                <a href="mailto:jasonlmcaffee@gmail.com" class="icon-envelope-alt"></a>
            </li>
            <li>
                <a href="tel:+1-614-915-8198" class="icon-phone"></a>
            </li>
        </ul>
    </div>

    {{!summary ============================================================== }}
    <div class="summary-section">
        <h2>Summary</h2>
        <hr/>
        <div>
            {{#each summary.paragraphs}}
            <p>{{this}}</p>
            {{/each}}
        </div>
    </div>
    {{!employment =========================================================== }}
    <div class="employment-section">
        <h2>Employment</h2>
        <hr/>

        {{#each employment.items}}
        <div class="employment-section-item">
            {{!job title, company, date}}
            <ul>
                <li>{{title}}</li>
                <li>{{employer}}</li>
                <li>{{date}}</li>
            </ul>

            {{#each summary.paragraphs}}
            <p>
                {{this}}
            </p>
            {{/each}}

            {{!primary skills}}
            <dl>
                {{#each primarySkills}}
                    <dt>{{this}}</dt>
                {{/each}}
            </dl>

            {{!libraries used}}
            <dl>
                {{#each toolsAndLibs}}
                <dt>{{this}}</dt>
                {{/each}}
            </dl>

        </div>
        {{/each}}
    </div>

    {{!work projects ================================================================ }}
    <div class="work-projects-section">
        <h2>Work Projects</h2>
        <hr/>

        {{!project section item }}
        {{#each workProjects}}
        <div>
            <h3>{{name}}</h3>
            {{#each summary.paragraphs}}
                <p>{{this}}</p>
            {{/each}}
        </div>
        {{/each}}
    </div>

    {{!personal projects ================================================================ }}
    <div class="personal-projects-section">
        <h2>Personal Projects</h2>
        <hr/>

        {{!project section item }}
        {{#each personalProjects}}
        <div>
            <h3>{{name}}</h3>
            {{#each summary.links}}
            <a href="{{this}}">{{this}}</a>
            {{/each}}
            {{#each summary.paragraphs}}
            <p>{{this}}</p>
            {{/each}}
        </div>
        {{/each}}
    </div>

    {{!education =============================================================== }}
    <div class="education-section">
        <h2>Education</h2>
        <hr/>
        <div>
            <div>{{education.degree}}</div>
            <div>
                <div>{{education.gpa}}</div>
                <div>{{education.school}}</div>
            </div>
        </div>
    </div>

    {{!certifications ========================================================== }}
    <div class="certifications-section">
        <h2>Certifications</h2>
        <hr/>
        <div>
            {{#each certifications}}
            <div>{{this}}</div>
            {{/each}}
        </div>
    </div>
</div>