%chordical-lime-green-gradient{
    background: rgb(186,234,82); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(186,234,82,1) 0%, rgba(205,235,142,1) 46%, rgba(165,201,86,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(186,234,82,1)), color-stop(46%,rgba(205,235,142,1)), color-stop(100%,rgba(165,201,86,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(186,234,82,1) 0%,rgba(205,235,142,1) 46%,rgba(165,201,86,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(186,234,82,1) 0%,rgba(205,235,142,1) 46%,rgba(165,201,86,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(186,234,82,1) 0%,rgba(205,235,142,1) 46%,rgba(165,201,86,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(186,234,82,1) 0%,rgba(205,235,142,1) 46%,rgba(165,201,86,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#baea52', endColorstr='#a5c956',GradientType=0 ); /* IE6-9 */

}
%chordical-white-multi-step-gradient{
    background: -moz-linear-gradient(left,  rgba(198,198,198,0.76) 0%, rgba(216,216,216,0.76) 2%, rgba(221,221,221,0.76) 3%, rgba(234,234,234,0.76) 8%, rgba(249,249,249,0.76) 46%, rgba(247,247,247,0.76) 92%, rgba(232,232,232,0.76) 96%, rgba(219,219,219,0.76) 98%, rgba(198,198,198,0.76) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(198,198,198,0.76)), color-stop(2%,rgba(216,216,216,0.76)), color-stop(3%,rgba(221,221,221,0.76)), color-stop(8%,rgba(234,234,234,0.76)), color-stop(46%,rgba(249,249,249,0.76)), color-stop(92%,rgba(247,247,247,0.76)), color-stop(96%,rgba(232,232,232,0.76)), color-stop(98%,rgba(219,219,219,0.76)), color-stop(100%,rgba(198,198,198,0.76))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(198,198,198,0.76) 0%,rgba(216,216,216,0.76) 2%,rgba(221,221,221,0.76) 3%,rgba(234,234,234,0.76) 8%,rgba(249,249,249,0.76) 46%,rgba(247,247,247,0.76) 92%,rgba(232,232,232,0.76) 96%,rgba(219,219,219,0.76) 98%,rgba(198,198,198,0.76) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(198,198,198,0.76) 0%,rgba(216,216,216,0.76) 2%,rgba(221,221,221,0.76) 3%,rgba(234,234,234,0.76) 8%,rgba(249,249,249,0.76) 46%,rgba(247,247,247,0.76) 92%,rgba(232,232,232,0.76) 96%,rgba(219,219,219,0.76) 98%,rgba(198,198,198,0.76) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(198,198,198,0.76) 0%,rgba(216,216,216,0.76) 2%,rgba(221,221,221,0.76) 3%,rgba(234,234,234,0.76) 8%,rgba(249,249,249,0.76) 46%,rgba(247,247,247,0.76) 92%,rgba(232,232,232,0.76) 96%,rgba(219,219,219,0.76) 98%,rgba(198,198,198,0.76) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(198,198,198,0.76) 0%,rgba(216,216,216,0.76) 2%,rgba(221,221,221,0.76) 3%,rgba(234,234,234,0.76) 8%,rgba(249,249,249,0.76) 46%,rgba(247,247,247,0.76) 92%,rgba(232,232,232,0.76) 96%,rgba(219,219,219,0.76) 98%,rgba(198,198,198,0.76) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2c6c6c6', endColorstr='#c2c6c6c6',GradientType=1 ); /* IE6-9 */

}

%chordical-blue-radial-gradient{
    background: rgb(122,188,255); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(122,188,255,1) 0%, rgba(96,171,248,1) 50%, rgba(64,150,238,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(122,188,255,1)), color-stop(50%,rgba(96,171,248,1)), color-stop(100%,rgba(64,150,238,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 50%,rgba(64,150,238,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 50%,rgba(64,150,238,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 50%,rgba(64,150,238,1) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 50%,rgba(64,150,238,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

%chordical-dark-grey-slight-gradient{
    background: rgb(51,51,51); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(51,51,51,1) 0%, rgba(51,51,51,1) 10%, rgba(61,61,61,1) 90%, rgba(63,63,63,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,51,51,1)), color-stop(10%,rgba(51,51,51,1)), color-stop(90%,rgba(61,61,61,1)), color-stop(100%,rgba(63,63,63,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(51,51,51,1) 10%,rgba(61,61,61,1) 90%,rgba(63,63,63,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(51,51,51,1) 10%,rgba(61,61,61,1) 90%,rgba(63,63,63,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(51,51,51,1) 10%,rgba(61,61,61,1) 90%,rgba(63,63,63,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(51,51,51,1) 0%,rgba(51,51,51,1) 10%,rgba(61,61,61,1) 90%,rgba(63,63,63,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#3f3f3f',GradientType=0 ); /* IE6-9 */

}

%chordical-white-grey-slight-gradient{
    background: rgb(239,239,239); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(239,239,239,1) 0%, rgba(237,237,237,1) 4%, rgba(237,237,237,1) 97%, rgba(239,239,239,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,239,239,1)), color-stop(4%,rgba(237,237,237,1)), color-stop(97%,rgba(237,237,237,1)), color-stop(100%,rgba(239,239,239,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(239,239,239,1) 0%,rgba(237,237,237,1) 4%,rgba(237,237,237,1) 97%,rgba(239,239,239,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(239,239,239,1) 0%,rgba(237,237,237,1) 4%,rgba(237,237,237,1) 97%,rgba(239,239,239,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(239,239,239,1) 0%,rgba(237,237,237,1) 4%,rgba(237,237,237,1) 97%,rgba(239,239,239,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(239,239,239,1) 0%,rgba(237,237,237,1) 4%,rgba(237,237,237,1) 97%,rgba(239,239,239,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
}

%chordical-white-slightest-gradient{
    background: rgb(252,252,252);
    background: -moz-linear-gradient(top,  rgba(252,252,252,1) 0%, rgba(247,247,247,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(100%,rgba(247,247,247,1)));
    background: -webkit-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(247,247,247,1) 100%);
    background: -o-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(247,247,247,1) 100%);
    background: -ms-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(247,247,247,1) 100%);
    background: linear-gradient(to bottom,  rgba(252,252,252,1) 0%,rgba(247,247,247,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f7f7f7',GradientType=0 );

}

//used in conjunction with background position on transition since gradient transforms are not fully supported.
%chordical-white-simple-gradient{
    background: -webkit-linear-gradient(#FCFCFC,#A8A8A8);
    background: -moz-linear-gradient(#FCFCFC,#A8A8A8);
    background: -o-linear-gradient(#FCFCFC,#A8A8A8);
    background: linear-gradient(#FCFCFC,#A8A8A8);
    background-size:1px 170px;  //hack makes it appear the background gradient is darker.

}
%chordical-white-grey-gradual-gradient{
    background: rgb(249,249,249);
    background: -moz-linear-gradient(top,  rgba(249,249,249,1) 0%, rgba(66,66,66,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,249,249,1)), color-stop(100%,rgba(66,66,66,1)));
    background: -webkit-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(66,66,66,1) 100%);
    background: -o-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(66,66,66,1) 100%);
    background: -ms-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(66,66,66,1) 100%);
    background: linear-gradient(to bottom,  rgba(249,249,249,1) 0%,rgba(66,66,66,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#424242',GradientType=0 );

}

%chordical-grey-border-gradient{
    background: rgb(221,221,221); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(221,221,221,1) 0%, rgba(237,237,237,1) 93%, rgba(221,221,221,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(221,221,221,1)), color-stop(93%,rgba(237,237,237,1)), color-stop(100%,rgba(221,221,221,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(221,221,221,1) 0%,rgba(237,237,237,1) 93%,rgba(221,221,221,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(221,221,221,1) 0%,rgba(237,237,237,1) 93%,rgba(221,221,221,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(221,221,221,1) 0%,rgba(237,237,237,1) 93%,rgba(221,221,221,1) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(221,221,221,1) 0%,rgba(237,237,237,1) 93%,rgba(221,221,221,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#dddddd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

//inset box shadow used for border
%chordical-border-inset{
    -moz-box-shadow:inset 0 0 6px -1px #000;
    -webkit-box-shadow:inset 0 0 6px -1px #000;
    box-shadow:inset 0 0 6px -1px #000;
}

//background radial gradient for darker corners (use with border-inset)
%chordical-grey-border-inset-gradient{
    background: -moz-radial-gradient(center, ellipse cover,  rgba(102,102,102,0) 0%, rgba(230,230,230,0) 91%, rgba(237,237,237,0.31) 96%, rgba(132,132,132,0.55) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(102,102,102,0)), color-stop(91%,rgba(230,230,230,0)), color-stop(96%,rgba(237,237,237,0.31)), color-stop(100%,rgba(132,132,132,0.55)));
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(102,102,102,0) 0%, rgba(230,230,230,0) 91%, rgba(237,237,237,0.31) 96%, rgba(132,132,132,0.55) 100%);
    background: -o-radial-gradient(center, ellipse cover,  rgba(102,102,102,0) 0%,rgba(230,230,230,0) 91%,rgba(237,237,237,0.31) 96%,rgba(132,132,132,0.55) 100%);
    background: -ms-radial-gradient(center, ellipse cover,  rgba(102,102,102,0) 0%,rgba(230,230,230,0) 91%,rgba(237,237,237,0.31) 96%,rgba(132,132,132,0.55) 100%);
    background: radial-gradient(ellipse at center,  rgba(102,102,102,0) 0%,rgba(230,230,230,0) 91%,rgba(237,237,237,0.31) 96%,rgba(132,132,132,0.55) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00666666', endColorstr='#8c848484',GradientType=1 );
}

%chordical-grey-border-top{
    //-moz-box-shadow: 0 -5px 6px -6px #000;
    //-webkit-box-shadow: 0 -5px 6px -6px #000;
    //box-shadow: 0 -5px 6px -6px #000;
    -moz-box-shadow: 0 0 4px 0 #000;
    -webkit-box-shadow: 0 0 4px 0 #000;
    box-shadow: 0 0 4px 0 #000;

}

//uses a radial gradient, placed at the top of element, to give the illusion of lighting over the background image.
//supports ios6.1 limitation of no shorthand background-size (and possibly doesnt like the spotlight gradient, as it does not display)
@mixin chordical-background-image-and-spotlight-gradient($background, $backgroundSize){
    //ios 6.1 fallback. doesnt like the shorthand for background size eg(...center top/100px auto)
    background: $background;
    background-size: $backgroundSize;
    //cool browsers get a spotlight effect over the background.
    background: -moz-radial-gradient(center top, ellipse farthest-corner,  rgba(255,255,255,0.51) -30%,rgba(255,255,255,0) 73%,rgba(255,255,255,0) 100%) center top/100% 70% no-repeat, $background/$backgroundSize;
    background: -webkit-radial-gradient(center top, ellipse farthest-corner,  rgba(255,255,255,0.51) -30%,rgba(255,255,255,0) 73%,rgba(255,255,255,0) 100%) center top/100% 70% no-repeat, $background/$backgroundSize;

    @content;
}
//fail
//%chordical-grey-border-image-gradient{
//    border-width:3px;
//
//    border-width:3px;
//    -webkit-border-image:
//        -webkit-gradient(linear, 0 0, 0 100%, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
//    -webkit-border-image:
//        -webkit-linear-gradient(black, rgba(0, 0, 0, 0)) 50 100%;
//    -o-border-image:
//        -o-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
//    -moz-border-image:
//        -moz-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
//    //this doesn't work
//    //-webkit-border-image:
//    //    -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(221,221,221,1)), color-stop(2%,rgba(237,237,237,1)), color-stop(98%,rgba(237,237,237,1)), color-stop(100%,rgba(221,221,221,1))); /* Chrome,Safari4+ */
//    //-webkit-border-image:
//    //    -webkit-linear-gradient(top,  rgba(221,221,221,1) 0%,rgba(237,237,237,1) 2%,rgba(237,237,237,1) 98%,rgba(221,221,221,1) 100%); /* Chrome10+,Safari5.1+ */
//    //-o-border-image:
//    //    -o-linear-gradient(top,  rgba(221,221,221,1) 0%,rgba(237,237,237,1) 2%,rgba(237,237,237,1) 98%,rgba(221,221,221,1) 100%); /* Opera 11.10+ */
//    //-moz-border-image:
//    //    -moz-linear-gradient(top,  rgba(221,221,221,1) 0%, rgba(237,237,237,1) 2%, rgba(237,237,237,1) 98%, rgba(221,221,221,1) 100%); /* FF3.6+ */
//
//
//
//
//}