#chordical{
    width:100%;
}
#chordical-page{
    width:100%;

    > h1{
        display:inline-block;
    }

    .menu{
        @extend %chordical-menu;
    }
    #keyboard{
        @extend %keyboard;
    }
}

%chordical-menu{
     @extend %inline-block-grid;

    .link{
        @extend %inline-block-grid-cell;
    }
}
//keyboard --------------------------------------------------------------
%keyboard{
    //sizing
    width: 100%;
    padding-left:5%;
    padding-right:5%;
    display:inline-block;
    @extend %inline-block-grid;
    //letter-spacing: 0em !important;

    background-color: grey;
}

.sound-cell{
    @extend %sound-cell;
}

%sound-cell{
    @extend %inline-block-grid-cell;
    width:20%;

    min-width:50px;
    min-height:70px;

    background-color:white;
    border-color:black;
    border-width: 1px;
    border-style: solid;
}