@import "chordical/chordicalColors";

#chordical{
    width:100%;
}

//all pages in chordical should extend this.
%chordical-page{
    width:100%;
    height:100%;
    @extend %chordical-dark-grey-slight-gradient;

    //page title. e.g. 'Chordical', 'Sounds', etc
    > h1{
        display:inline-block;
        //http://designshack.net/articles/css/inner-shadows-in-css-images-text-and-beyond/
        background-color: #CCCCCC;
        color: transparent;
        text-shadow: 0px 1px .5px #EDEDED;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
    }

    //menu with links, displayed left to right. placed to the right of the page title.
    .menu{
        display:inline-block;
        @extend %chordical-menu;
    }
}

%chordical-menu{
    @extend %inline-block-grid;

    .link{
        @extend %chordical-link;
    }
}

%chordical-link{
    @extend %inline-block-grid-cell;
    margin-left:10px;

    a{
        text-decoration: none;
        color: white;
    }
}

//the main chordical page
#chordical-page{
    @extend %chordical-page;


    #keyboardContainer{
        padding: 7px;
        @extend %keyboard-border;
        border-color:white;
        border-width: 1px;
        border-style: solid;

    }

    #keyboardWidget{
        padding: 5px;
        border-color: #F2F2F2;//white;//#444444;//#5B5B5B;//#9E9E9E;
        border-width: 1px;
        border-style: solid;
        //box shadow inset border
        @extend %chordical-border-inset;
        //radial gradient to give corners slightly darker coloring/shadowing
        @extend %chordical-grey-border-inset-gradient;


        //rounded corners
        //@extend %round-all-by-3;
        @extend .round-all-by-5;
        //@extend %round-all-by-7;
        //@extend %keyboard-border;
        //border-color:white;
        //border-width: 1px;
        //border-style: solid;
    }

    #keyboard{
        @extend %keyboard;
    }
}

//keyboard --------------------------------------------------------------
%keyboard{
    //sizing
    width: 100%;
    padding: 1% 1% 1% 1%;
    display:inline-block;
    text-align: center;

    //border 1
    border-color: black;//#444444;//#5B5B5B;//#9E9E9E;
    border-width: 2px;
    border-style: solid;
   // @extend %chordical-grey-border-top;

    //background - repeating leather texture with gradient over the top for spotlight
    //need shorthand for size so the gradient can take up the entire element, and the leather image can repeat at small size
    @include chordical-background-image-and-spotlight-gradient(url('../images/chordical/leather-background2.jpg') repeat center center, 350px Auto){   //normally center center/350px Auto, but ios6.1 no likey

    }

    //layout (left to right stack)
    @extend %inline-block-grid;

    //rounded corners
    //@extend .round-all-by-5;
    @extend %round-all-by-7;
}

%keyboard-border{
    @extend %chordical-grey-border-gradient;
    //@extend %round-all-by-3;
}

//need a container so that we can have spacing, but get rid of non-hit regions on touch devices. e.g when there is margin and its touched, no note is played.
.sound-cell-container{
    @extend %gpu-acceleration;
    @extend %inline-block-grid-cell;
    width:18.9%; //todo: media breakpoints. this accomodates iphone landscapse, but doesnt fill desktop all the way.

    min-width:50px;
    min-height:70px;
    padding:4px;//-2px;
    //@extend .round-all-by-5;

    //border-image: url('../images/chordical/box-shadow-rounded-bottom-3px.png') 10 9;
    //border-image-width: 2 -4;
    //border-bottom:23px;
    //border-left:3px;
    //border-right:3px;
    //border-top:0;
    //border-radius: 9px;
}
.sound-cell{
    @extend %sound-cell;

}


//since :active pseudo selector doesnt work that well on mobile, add this class on keypress, etc.
.sound-cell-active{
    @extend %gpu-acceleration;
    -webkit-animation: sound-cell-container-pressed .02s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    //border-bottom:14px;    <-- ios does not like this. ermygerd
    .sound-cell{
        //give the illusion of the key being pressed down
        //background-color: indianred !important;  //this works but doesn't look as cool as it should

        //-webkit-transform: perspective(1100px) rotateX(-20deg)
        //                   scale(0.98, 0.98);   //perspective( 1100px )
        -webkit-animation: sound-cell-pressed .02s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-fill-mode: forwards;
        //margin-top:-2px; ios does NOT like this. slows ui down.

        //no support yet for gradient transitions: http://stackoverflow.com/questions/6542212/use-css3-transitions-with-gradient-backgrounds
        //@extend %chordical-white-grey-gradual-gradient;
        background-position:360px;  //hack makes it appear the background gradient is darker.
    }
}

@include keyframes(sound-cell-container-pressed){
    0%{
        //-webkit-transform: perspective(2300px) rotateX(-1deg);
        //-webkit-transform: perspective(2300px) rotateX(-1deg); <-- bad things on ios. random holds and extra touchs.weird.
        //-webkit-transform: perspective(2300px) rotateX(-1deg);
    }

    99%{

    }
    100%{
        -webkit-transform:scale(0.97, 0.97) perspective(1100px) rotateX(-16deg);
        //border-image-width: 2 -4;
        //border-left:3px;
        //border-right:3px;
        //border-top:0;
        //border-radius: 9px;
        //box-shadow: none;
    }
}
@include keyframes(sound-cell-pressed){
      0%{
          //-webkit-transform: perspective(2300px) rotateX(-1deg);
      }

      99%{

      }
      100%{
          -webkit-transform:
            scale(0.99, 0.99) translateY(-1px);   //perspective(1100px) rotateX(-20deg)
          //box-shadow: none;
      }
}
%sound-cell{
    //gpu acceleration. huge improvement in ui responsiveness when sound-cell-active is added.
    @extend %gpu-acceleration;

    //sizing
    height:100%;
    min-height:70px;

    //background
    //@extend %chordical-white-grey-gradual-gradient;
    //no support yet for gradient transitions: http://stackoverflow.com/questions/6542212/use-css3-transitions-with-gradient-backgrounds
    @extend %chordical-white-simple-gradient;

    //layout
    //when the sound cells dont quite fill up the width of the keyboard, center-aligning makes the board look nicer.
    text-align: center;
    vertical-align: middle;

    //rounded corners
    @extend %round-all-by-7;

    border-color: black;//#F2F2F2;//white;//#444444;//#5B5B5B;//#9E9E9E;
    border-width: 1px 1px 1px 1px; //0px 0px 0px;
    border-style: solid;
    //shadows
    //use box shadow for bottom illusion.
    //definitely slows ui response time down when transformed, so dont mess with this on active
    //http://stackoverflow.com/questions/1249619/scroll-lag-with-css3-box-shadow-property
    box-shadow:
        0px 4px 3px 1px rgba(0,0,0,0.75), //bottom bottom    //!TO BIG and this will cause jitters on ios
        inset 0px -3px 3px 1px rgba(0,0,0,0.75); //bottom top
    //border-image: url('../images/chordical/box-shadow-rounded-bottom-3px.png') 20 9;
    //border-image-width: 2 -4;
    //border-bottom:13px;
    //border-left:3px;
    //border-right:3px;
    //border-top:0;
    //border-bottom-left-radius: 3px;

    //border-image-slice: 30 30 30 30;
    //cant have border with border image.

    //transitions
    //when the key is pressed, the active state changes the perspective. this controls how fast it does so.
    //-webkit-transition: all .1s ease-in;    //linear; //
    //transition: all .01s linear;//ease-out;



}

