@import "chordical/chordicalColors";

#chordical{
    width:100%;
}

//all pages in chordical should extend this.
%chordical-page{
    width:100%;
    height:100%;
    @extend %chordical-dark-grey-slight-gradient;

    //page title. e.g. 'Chordical', 'Sounds', etc
    > h1{
        display:inline-block;
        //http://designshack.net/articles/css/inner-shadows-in-css-images-text-and-beyond/
        background-color: #CCCCCC;
        color: transparent;
        text-shadow: 0px 1px .5px #EDEDED;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
    }

    //menu with links, displayed left to right. placed to the right of the page title.
    .menu{
        display:inline-block;
        @extend %chordical-menu;
    }
}

%chordical-menu{
    @extend %inline-block-grid;

    .link{
        @extend %chordical-link;
    }
}

%chordical-link{
    @extend %inline-block-grid-cell;
    margin-left:10px;

    a{
        text-decoration: none;
        color: white;
    }
}

//the main chordical page
#chordical-page{
    @extend %chordical-page;


    #keyboardContainer{
        padding: 7px;
        @extend %keyboard-border;
        border-color:white;
        border-width: 1px;
        border-style: solid;

    }

    #keyboardWidget{
        padding: 5px;
        border-color: #F2F2F2;//white;//#444444;//#5B5B5B;//#9E9E9E;
        border-width: 1px;
        border-style: solid;
        //box shadow inset border
        @extend %chordical-border-inset;
        //radial gradient to give corners slightly darker coloring/shadowing
        @extend %chordical-grey-border-inset-gradient;


        //rounded corners
        //@extend %round-all-by-3;
        @extend .round-all-by-5;
        //@extend %round-all-by-7;
        //@extend %keyboard-border;
        //border-color:white;
        //border-width: 1px;
        //border-style: solid;
    }

    #keyboard{
        @extend %keyboard;
    }
}

//keyboard --------------------------------------------------------------
%keyboard{
    //sizing
    width: 100%;
    padding: 1% 1% 1% 1%;
    display:inline-block;
    text-align: center;

    //border 1
    border-color: black;//#444444;//#5B5B5B;//#9E9E9E;
    border-width: 2px;
    border-style: solid;
   // @extend %chordical-grey-border-top;

    //background - repeating leather texture with gradient over the top for spotlight
    //need shorthand for size so the gradient can take up the entire element, and the leather image can repeat at small size
    @include chordical-background-image-and-spotlight-gradient(url('../images/chordical/leather-background2.jpg') repeat center center, 350px Auto){   //normally center center/350px Auto, but ios6.1 no likey

    }

    //layout (left to right stack)
    @extend %inline-block-grid;

    //rounded corners
    //@extend .round-all-by-5;
    @extend %round-all-by-7;
}

%keyboard-border{
    @extend %chordical-grey-border-gradient;
    //@extend %round-all-by-3;
}

//need a container so that we can have spacing, but get rid of non-hit regions on touch devices. e.g when there is margin and its touched, no note is played.
.sound-cell-container{
    -webkit-backface-visibility:hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    @extend %inline-block-grid-cell;
    width:18.9%; //todo: media breakpoints. this accomodates iphone landscapse, but doesnt fill desktop all the way.

    min-width:50px;
    min-height:70px;
    padding:4px;
}
.sound-cell{

    @extend %sound-cell;
}

//since :active pseudo selector doesnt work that well on mobile, add this class on keypress, etc.
.sound-cell-active{
    //-webkit-backface-visibility:hidden;
    -webkit-transform: scale(0.98, 0.98);
    transform: scale(0.98, 0.98);
    .sound-cell{
        //-webkit-backface-visibility:hidden;
        //background-color: indianred !important;
        //background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.71) 0%, rgba(0,0,0,0.71) 100%);
        //background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.71)), color-stop(100%,rgba(0,0,0,0.71)));
        //background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.71) 0%,rgba(0,0,0,0.71) 100%);
        //background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.71) 0%,rgba(0,0,0,0.71) 100%);
        //background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.71) 0%,rgba(0,0,0,0.71) 100%);
        //background: radial-gradient(ellipse at center,  rgba(0,0,0,0.71) 0%,rgba(0,0,0,0.71) 100%);
        //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5000000', endColorstr='#b5000000',GradientType=1 );
        background-color: indianred !important;

    }
}

%sound-cell{
    //visibility: hidden;
    //-webkit-backface-visibility:hidden; //gpu acceleration. huge improvement in ui responsiveness when sound-cell-active is added.
    height:100%;
    min-height:70px;


    //@extend %chordical-white-multi-step-gradient;
    //border-color:black;
    //border-width: 1px;
    //border-style: solid;
    background-color: white;

    text-align: center;
    vertical-align: middle;

    @extend %round-all-by-7;


    //use box shadow for bottom illusion. definitely slows ui response time down
    //-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #07526e, 0px 10px 5px #999;
    //-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #07526e, 0px 10px 5px #999;
    //-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #07526e, 0px 10px 5px #999;
    box-shadow:
        0px 8px 3px 1px rgba(0,0,0,0.75), //bottom bottom
        inset 0px -3px 3px 1px rgba(0,0,0,0.75); //bottom top


    //transition: all .05s linear;

    //bottom bottom
    //-webkit-box-shadow: inset 0px -3px 3px 1px rgba(0,0,0,0.75);
    //-moz-box-shadow: inset 0px -3px 3px 1px rgba(0,0,0,0.75);
    //box-shadow: inset 0px -3px 3px 1px rgba(0,0,0,0.75);
}

