html, body{
  height:100%;
  width: 100%;
  padding:0;
  margin:0;

  font-family: Helvetica, Arial, sans-serif;
}

.pages{
  //margin-top:50px;   todo:re-enable nav bar

  min-height: 500px;
  //height:100%; <-- this causes ie9 to not paint anything that is in a scrollable region (e.g. the page)
  width:100%;
/*!!needed to allow menu to be placed below navbar*/
  z-index:2;

/*color*/
  //background: rgb(255,255,255);
  //background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  //background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1)));
  //background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
  //background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
  //background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
  //background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=1 );


}

//native scrolling for iphone and android. whitelisted in core/modenizrTests/tests.js
.enhancedscrolling{
    .pages{
        overflow-y:scroll;
        -webkit-overflow-scrolling:touch;
        height:100%;
        min-height: 100px; //min-height of 500 causes page to double scroll on phones. set min-height down a bit.
    }
}

/**
<div class="pages">
   <div class="page">        <-- view generates this element.
       <div id="resume-page">
*/
.page{
    height:100%;
    width:100%;
}