#webcam{
    height:100%;
    width:100%;
}

%main-section{
 /*color*/
     background: rgb(237,237,237); /* Old browsers */
     background: -moz-linear-gradient(top,  rgba(237,237,237,1) 0%, rgba(244,244,244,1) 15%, rgba(249,249,249,1) 45%, rgba(244,244,244,1) 84%, rgba(229,229,229,1) 100%); /* FF3.6+ */
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,237,1)), color-stop(15%,rgba(244,244,244,1)), color-stop(45%,rgba(249,249,249,1)), color-stop(84%,rgba(244,244,244,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
     background: -webkit-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(244,244,244,1) 15%,rgba(249,249,249,1) 45%,rgba(244,244,244,1) 84%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
     background: -o-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(244,244,244,1) 15%,rgba(249,249,249,1) 45%,rgba(244,244,244,1) 84%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
     background: -ms-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(244,244,244,1) 15%,rgba(249,249,249,1) 45%,rgba(244,244,244,1) 84%,rgba(229,229,229,1) 100%); /* IE10+ */
     background: linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(244,244,244,1) 15%,rgba(249,249,249,1) 45%,rgba(244,244,244,1) 84%,rgba(229,229,229,1) 100%); /* W3C */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */


 /*rounded corners*/
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     border-radius: 3px;

 /*shadows*/
     -webkit-box-shadow: 0px 0px 8px #000000;
     -moz-box-shadow: 0px 0px 8px #000000;
     box-shadow: 0px 0px 8px #000000;
}


#webcamPage{
    height: 100%; /* for % heights, all containers must have height set */
    width:100%;
    /*fix background css gradient repeating http://stackoverflow.com/questions/2869212/css3-gradient-background-set-on-body-doesnt-stretch-but-instead-repeats*/
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;



    /*color*/
    //color:black;
    //background: rgb(96,96,96); /* Old browsers */
    //background: -moz-linear-gradient(top,  rgba(96,96,96,1) 0%, rgba(104,104,104,1) 19%, rgba(107,107,107,1) 49%, rgba(94,94,94,1) 84%, rgba(76,76,76,1) 100%); /* FF3.6+ */
    //background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(96,96,96,1)), color-stop(19%,rgba(104,104,104,1)), color-stop(49%,rgba(107,107,107,1)), color-stop(84%,rgba(94,94,94,1)), color-stop(100%,rgba(76,76,76,1))); /* Chrome,Safari4+ */
    //background: -webkit-linear-gradient(top,  rgba(96,96,96,1) 0%,rgba(104,104,104,1) 19%,rgba(107,107,107,1) 49%,rgba(94,94,94,1) 84%,rgba(76,76,76,1) 100%); /* Chrome10+,Safari5.1+ */
    //background: -o-linear-gradient(top,  rgba(96,96,96,1) 0%,rgba(104,104,104,1) 19%,rgba(107,107,107,1) 49%,rgba(94,94,94,1) 84%,rgba(76,76,76,1) 100%); /* Opera 11.10+ */
    //background: -ms-linear-gradient(top,  rgba(96,96,96,1) 0%,rgba(104,104,104,1) 19%,rgba(107,107,107,1) 49%,rgba(94,94,94,1) 84%,rgba(76,76,76,1) 100%); /* IE10+ */
    //background: linear-gradient(top,  rgba(96,96,96,1) 0%,rgba(104,104,104,1) 19%,rgba(107,107,107,1) 49%,rgba(94,94,94,1) 84%,rgba(76,76,76,1) 100%); /* W3C */
    //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606060', endColorstr='#4c4c4c',GradientType=0 ); /* IE6-9 */

/*overwrite some of bootstraps stuff*/
    .container-fluid{
        min-width: 120px;
    }

/* center container which runs down the entire page, and contains all content on the page.*/
    .main-containing-column{
        width: 60%;
        height: 100%;

    /*center the column in the middle.  ie requires !DOCTYPE to be declared for this to work: http://www.w3schools.com/css/css_align.asp   */
        margin-left: auto;
        margin-right: auto;



    }
/* the header is broken into several pieces to give an interesting layered visual.
   the top will be white, with a blue banner wrapping around it.
   the logo will be on the next layer, above  the blue banner
   @layer = body + 1
   @position = top
*/
    .header{
    /*sizing*/
        height: 5%;
        min-height: 50px;
        max-height:150px;
        width:100%;

    }

/*this portion is at the top of the page, and the blue banner is intended to cover it/reside in it.
  the logo will also reside in this element
  @layer = header
  @position = top */
    .header-top-white{
    /*sizing*/
        height: 60%;
        width:100%;
    /*keep things from looking funny on different form factors. perhaps a media query is in order*/
        min-height: 50px;


    /*positioning*/
    /*push the header-blue-banner down from the top*/
        padding-top: 3%;

    /*color*/
        background: rgb(237,237,237); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(237,237,237,1) 0%, rgba(244,244,244,1) 15%, rgba(249,249,249,1) 45%, rgba(244,244,244,1) 84%, rgba(229,229,229,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,237,1)), color-stop(15%,rgba(244,244,244,1)), color-stop(45%,rgba(249,249,249,1)), color-stop(84%,rgba(244,244,244,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(244,244,244,1) 15%,rgba(249,249,249,1) 45%,rgba(244,244,244,1) 84%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(244,244,244,1) 15%,rgba(249,249,249,1) 45%,rgba(244,244,244,1) 84%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(244,244,244,1) 15%,rgba(249,249,249,1) 45%,rgba(244,244,244,1) 84%,rgba(229,229,229,1) 100%); /* IE10+ */
        background: linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(244,244,244,1) 15%,rgba(249,249,249,1) 45%,rgba(244,244,244,1) 84%,rgba(229,229,229,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */


    /*shadows*/
        -webkit-box-shadow: 0px 0px 8px #000000;
        -moz-box-shadow: 0px 0px 8px #000000;
        box-shadow: 0px 0px 8px #000000;



    }

/*
  @layer = header-top-white + 1
  @position = top + 3%  */
    .header-blue-banner{
    /*sizing*/
        height: 50%;
        min-height: 70px;
        max-height: 110px;/*keep it from looking weird on large monitors (23" & 30")*/
        width: 104%;/*the banner should look like its wrapping around header-top-white. make it slightly larger*/

    /*positioning*/
    /*the banner should look like its wrapping around header-top-white. */
        margin-left: -2%;

    /*color*/
        background: rgb(45,150,255); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(45,150,255,1) 0%, rgba(96,175,255,1) 16%, rgba(112,180,244,1) 29%, rgba(109,182,255,1) 68%, rgba(102,178,255,1) 84%, rgba(82,158,234,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(45,150,255,1)), color-stop(16%,rgba(96,175,255,1)), color-stop(29%,rgba(112,180,244,1)), color-stop(68%,rgba(109,182,255,1)), color-stop(84%,rgba(102,178,255,1)), color-stop(100%,rgba(82,158,234,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(45,150,255,1) 0%,rgba(96,175,255,1) 16%,rgba(112,180,244,1) 29%,rgba(109,182,255,1) 68%,rgba(102,178,255,1) 84%,rgba(82,158,234,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(45,150,255,1) 0%,rgba(96,175,255,1) 16%,rgba(112,180,244,1) 29%,rgba(109,182,255,1) 68%,rgba(102,178,255,1) 84%,rgba(82,158,234,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(45,150,255,1) 0%,rgba(96,175,255,1) 16%,rgba(112,180,244,1) 29%,rgba(109,182,255,1) 68%,rgba(102,178,255,1) 84%,rgba(82,158,234,1) 100%); /* IE10+ */
        background: linear-gradient(top,  rgba(45,150,255,1) 0%,rgba(96,175,255,1) 16%,rgba(112,180,244,1) 29%,rgba(109,182,255,1) 68%,rgba(102,178,255,1) 84%,rgba(82,158,234,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d96ff', endColorstr='#529eea',GradientType=0 ); /* IE6-9 */

    /*rounded corners*/
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;

    /*shadows*/
        -webkit-box-shadow: 0px 0px 8px #000000;
        -moz-box-shadow: 0px 0px 8px #000000;
        box-shadow: 0px 0px 8px #000000;

    }


/*
  @layer = header-blue-banner + 1
  @position = top + 3% (same as header-blue-banner) */
    .aptjs-logo{

    /*positioning*/
    /*overlay the logo on top of the blue banner */
        position: relative; //absolute is wonky after a prompt
        margin-top:-3%;
    /*move the logo to the left a little*/
        margin-left: 1%;

    /*shadow*/
        display:inline-block; /* fold tabs under logo when smaller screens are displaying. display to the right of the logo for larger screens*/
    }

/*
  this section is meant to overlay the header-top-white section
  @layer = header-blue-banner + 1
  @position = bottom of header-top-white - 5%
*/
    .main-content-below-header{
    /*sizing*/
    /*height: 80%;*/    /*this causes image container to escape this container*/
        //min-height: 500px;

        padding-top:6%;
        padding-left:2%;

        padding-bottom: 20px;
    /*positioning*/

        @extend %main-section;

    }

    .recent-images-section{
        @extend %main-section;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:20px;
    }


/*container for navigation tabs (report, runner, logs)*/
    .navigation-tabs{
    /*positioning*/
        margin-bottom: -6px;  /*bring the hr closer*/
    }

/*container for a navigation tab. img elements are currently in each of these (report, runner, logs)*/
    .navigation-tab{
    /*positioning*/
        display:inline-block;
        margin-left: 2%;
    /*misc*/
        cursor:pointer; /* button-like effect */
    }

/*divider between navigation tabs and pages*/
    .fancy-horizontal-rule{
    /*sizing*/
        width:98%;
    /*positioning*/
        display: block;
        position: relative;
        padding: 0;
        margin: 0px auto;
        clear: both;
        border: none;
        border-top: 1px solid #AAA;
        border-bottom: 1px solid #FFF;
        font-size: 1px;
        line-height: 0;
        overflow: visible;

    }

    .page{
    /*height: 100%;*/

    }

    .recently-uploaded-images-container,
    #imagePreviewContainer{
        max-width:500px;
        width: 96.5%;
        height: 100%;

        padding:1%;
        margin-bottom: 2%;

        //center
        margin-right:auto;
        margin-left:auto;

        background: rgb(48,50,53); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(48,50,53,1) 0%, rgba(44,46,51,1) 36%, rgba(51,55,58,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(48,50,53,1)), color-stop(36%,rgba(44,46,51,1)), color-stop(100%,rgba(51,55,58,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(48,50,53,1) 0%,rgba(44,46,51,1) 36%,rgba(51,55,58,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(48,50,53,1) 0%,rgba(44,46,51,1) 36%,rgba(51,55,58,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(48,50,53,1) 0%,rgba(44,46,51,1) 36%,rgba(51,55,58,1) 100%); /* IE10+ */
        background: linear-gradient(top,  rgba(48,50,53,1) 0%,rgba(44,46,51,1) 36%,rgba(51,55,58,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303235', endColorstr='#33373a',GradientType=0 ); /* IE6-9 */


        border:none 5px #000000;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright:5px;
        -moz-border-radius-bottomleft:5px;
        -moz-border-radius-bottomright:5px;
        -webkit-border-top-left-radius:5px;
        -webkit-border-top-right-radius:5px;
        -webkit-border-bottom-left-radius:5px;
        -webkit-border-bottom-right-radius:5px;
        border-top-left-radius:5px;
        border-top-right-radius:5px;
        border-bottom-left-radius:5px;
        border-bottom-right-radius:5px;

    }

    .recently-uploaded-image,
    #imagePreview{
        width:100%;
        background-color: blue;
        margin-bottom: 10px;

    }

    .camera-input{
        display:none;
        //position:absolute;
        //left:-400px;
    }

    #captureInputFacade{
        @extend %form-input-button;
       // background-color: blue;
    }

    .submit-button{
        @extend %form-submit-button;
    }
    .progress-bar-container {
    /*sizing*/
        width:90%;
        max-width:500px;

    /*positioning*/
        margin-top:10px;
        padding:3px;

        background: rgb(48,50,53); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(48,50,53,1) 0%, rgba(44,46,51,1) 36%, rgba(51,55,58,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(48,50,53,1)), color-stop(36%,rgba(44,46,51,1)), color-stop(100%,rgba(51,55,58,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(48,50,53,1) 0%,rgba(44,46,51,1) 36%,rgba(51,55,58,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(48,50,53,1) 0%,rgba(44,46,51,1) 36%,rgba(51,55,58,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(48,50,53,1) 0%,rgba(44,46,51,1) 36%,rgba(51,55,58,1) 100%); /* IE10+ */
        background: linear-gradient(top,  rgba(48,50,53,1) 0%,rgba(44,46,51,1) 36%,rgba(51,55,58,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303235', endColorstr='#33373a',GradientType=0 ); /* IE6-9 */



        border:none 5px #000000;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright:5px;
        -moz-border-radius-bottomleft:5px;
        -moz-border-radius-bottomright:5px;
        -webkit-border-top-left-radius:5px;
        -webkit-border-top-right-radius:5px;
        -webkit-border-bottom-left-radius:5px;
        -webkit-border-bottom-right-radius:5px;
        border-top-left-radius:5px;
        border-top-right-radius:5px;
        border-bottom-left-radius:5px;
        border-bottom-right-radius:5px;
    }

    .progress-bar-background {
        background: black;
        background-color: black;
        width:85%;
        display:inline-block;

        border:none 3px #000000;
        -moz-border-radius-topleft: 3px;
        -moz-border-radius-topright:3px;
        -moz-border-radius-bottomleft:3px;
        -moz-border-radius-bottomright:3px;
        -webkit-border-top-left-radius:3px;
        -webkit-border-top-right-radius:3px;
        -webkit-border-bottom-left-radius:3px;
        -webkit-border-bottom-right-radius:3px;
        border-top-left-radius:3px;
        border-top-right-radius:3px;
        border-bottom-left-radius:3px;
        border-bottom-right-radius:3px;
    }
    .progress-bar {
        background: -moz-linear-gradient(left,  rgba(109,179,242,1) 0%, rgba(62,156,239,1) 19%, rgba(84,163,238,1) 40%, rgba(54,144,240,1) 70%, rgba(31,107,223,1) 86%, rgba(30,105,222,0.96) 87%, rgba(30,105,222,0.68) 95%, rgba(17,99,221,0.33) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(109,179,242,1)), color-stop(19%,rgba(62,156,239,1)), color-stop(40%,rgba(84,163,238,1)), color-stop(70%,rgba(54,144,240,1)), color-stop(86%,rgba(31,107,223,1)), color-stop(87%,rgba(30,105,222,0.96)), color-stop(95%,rgba(30,105,222,0.68)), color-stop(100%,rgba(17,99,221,0.33))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left,  rgba(109,179,242,1) 0%,rgba(62,156,239,1) 19%,rgba(84,163,238,1) 40%,rgba(54,144,240,1) 70%,rgba(31,107,223,1) 86%,rgba(30,105,222,0.96) 87%,rgba(30,105,222,0.68) 95%,rgba(17,99,221,0.33) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left,  rgba(109,179,242,1) 0%,rgba(62,156,239,1) 19%,rgba(84,163,238,1) 40%,rgba(54,144,240,1) 70%,rgba(31,107,223,1) 86%,rgba(30,105,222,0.96) 87%,rgba(30,105,222,0.68) 95%,rgba(17,99,221,0.33) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left,  rgba(109,179,242,1) 0%,rgba(62,156,239,1) 19%,rgba(84,163,238,1) 40%,rgba(54,144,240,1) 70%,rgba(31,107,223,1) 86%,rgba(30,105,222,0.96) 87%,rgba(30,105,222,0.68) 95%,rgba(17,99,221,0.33) 100%); /* IE10+ */
        background: linear-gradient(left,  rgba(109,179,242,1) 0%,rgba(62,156,239,1) 19%,rgba(84,163,238,1) 40%,rgba(54,144,240,1) 70%,rgba(31,107,223,1) 86%,rgba(30,105,222,0.96) 87%,rgba(30,105,222,0.68) 95%,rgba(17,99,221,0.33) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#541163dd',GradientType=1 ); /* IE6-9 */

        border:none 3px #000000;
        -moz-border-radius-topleft: 3px;
        -moz-border-radius-topright:3px;
        -moz-border-radius-bottomleft:3px;
        -moz-border-radius-bottomright:3px;
        -webkit-border-top-left-radius:3px;
        -webkit-border-top-right-radius:3px;
        -webkit-border-bottom-left-radius:3px;
        -webkit-border-bottom-right-radius:3px;
        border-top-left-radius:3px;
        border-top-right-radius:3px;
        border-bottom-left-radius:3px;
        border-bottom-right-radius:3px;
    }

    .progress-text{
        width: 10%;
        display: inline-block;

        text-align: right;

        color: rgb(246,248,249);
        text-shadow: 0px 2px 3px #555;
    }
}


@include mq(small){
    #webcamPage{
        p {
            margin: 0px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 20px;
            line-height: 25px;
        }

    /*core library fixes*/
    /*uniform*/
        div.uploader input {
            opacity: 0;
            //filter: alpha(opacity:0);
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            float: right;
            height: 35px; /* we want text a bit bigger on phones*/
            border: none;
            cursor: default;
        }

    /*for tablets and phones, we dont want to have margins on the side of the main column. */
        .main-containing-column{
        /* sizing */
            width: 88%; /* leave room for the blue banner to wrap (its width is 104%) */


        }

    /* fix positioning of content like navigation & pages so that it does not overlay the logo*/
        .main-content-below-header{
        /*sizing*/
        /*height: 80%;*/     /*this causes image container to escape this container*/

            padding-top:13%;

        /*positioning*/

        }

    /*
@layer = header-blue-banner + 1
@position = top + 3% (same as header-blue-banner) */
        .aptjs-logo{
            width:80%;
            /*positioning*/
            margin-top:-6%;
        }
    }
}


@include mq(medium-and-below){
    #webcamPage{
    /*for tablets and phones, we dont want to have margins on the side of the main column. */
        .main-containing-column{
        /* sizing */
            width: 93%; /* leave room for the blue banner to wrap (its width is 104%) */
        }

        .aptjs-logo{
           // width:80%;
            /*positioning*/
            margin-top:-7%;
        }
    /* fix positioning of content like navigation & pages so that it does not overlay the logo*/
        .main-content-below-header{
        /*sizing*/
        /*height: 90%;*/   /*this causes image container to escape this container*/

            padding-top:12%;

        /*positioning*/
        }
    }
}