<!DOCTYPE html>
    <head>
        <title>strapkit</title>

        <!-- seo http://www.webmarketingnow.com/tips/meta-tags-uncovered.html-->
        <meta name="keywords" content="strapkit, HTML, HTML5, CSS3, css, bootstrap, css3, backbone, node.js, nodejs, handlebars, handlebars.js, jquery, underscore, express, ejs, boilerplate, html5 boilerplate">
        <meta name="description" content="bootstrap your modern web application using strapkit!">
        <meta name="author" content="Jason McAffee">
        <meta name="title" content="strapkit. bootstrap your modern web application">

        <!-- app styling -->
        <link rel="stylesheet" href="css/app.css">

        <!--[if gte IE 9]>
        <link rel="stylesheet" type="text/css" href="css/ie.css" />
        <![endif]-->

        <!-- initial view should be zoomed correctly on mobile -->
        <!--<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, maximum-scale=1.0, minimum-scale=1.0">-->
        <!--easiest fix for ipad rotate resize issue. user scalable needed for android to support position:fixed in nav bar-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;">
        <!-- apple ios specific styling. fullscreen and translucent status bar. -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">



    </head>

    <body>

        <div id="navbar">
            <div id="menuCollapsed">
                <img id="menuButton" alt="menu button" src="images/menu-button.png">
            </div>
        </div>
        <div id="menuExpanded">
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#demos/home">Demos</a></li>
                <li><a href="#home">Docs</a></li>
            </ul>
        </div>

        <!-- all views will render in this element -->
        <div id="pages" class="pages">
           loading...
        </div>

        <!-- scripts at the bottom -->
        <!-- Load the script "js/main.js" as our entry point, along with requirejs -->
        <script data-main="js/app-built" src="js/app-built.js"></script>
        <!-- initial load of the page will contain json data for template rendering. -->
        <script type="text/javascript">
            var viewModel = µ- JSON.stringify(viewModel)µ;
        </script>

    </body>
</html>