<div id="webcamPage">

    <div class="container-fluid main-containing-column">
        <!-- header -->
        <div class="header">

            <div class="header-top-white">
                <!-- banner-->
                <div class="header-blue-banner"></div>
            </div>

            <!-- logo -->
            <img alt="aptjs logo" class="aptjs-logo" src="images/jasonMcAffeeLabsLogo.png">

        </div>


        <!-- main content below header -->
        <div class="main-content-below-header">

            <hr class="fancy-horizontal-rule"/>

            <!-- pages ===================================================================-->

            <!-- report page -->
            <div id="mainPage" class="page">
                <h1>Take a Picture and Upload It</h1>


                <form id="fileUploadForm" action="webcam/uploadImage" method="post" enctype="multipart/form-data">
                    <input name="userImage" type="file" accept="image/*;capture=camera" capture="camera" id="captureInput" class="camera-input">

                    <button type="submit" class="btn btn-primary">submit</button>

                    <br>
                    <!-- progress bar -->
                    <div id="progressBarContainer" class="progress-bar-container"></div>
                </form>

                <div id="recentlyUploadedImagesContainer" class="recently-uploaded-images-container">
                    {{>images}}
                </div>
            </div>

            <hr class="fancy-horizontal-rule"/>
        </div>

    </div>
</div>