<div id="webcamPage">

    <div class="container-fluid main-containing-column">
        <!-- header -->
        <div class="header">

            <div class="header-top-white">
                <!-- banner-->
                <div class="header-blue-banner"></div>
            </div>

            <!-- logo -->
            <img alt="aptjs logo" class="aptjs-logo" src="images/jasonMcAffeeLabsLogo.png">

        </div>


        <!-- main content below header -->
        <div class="main-content-below-header">

            <hr class="fancy-horizontal-rule"/>

            <h1>Take a Picture and Upload It</h1>


            <form id="fileUploadForm" action="webcam/uploadImage" method="post" enctype="multipart/form-data">
                <input name="userImage" type="file" accept="image/*;capture=camera" capture="camera" id="captureInput" class="camera-input">

                <div id="captureInputFacade">Choose File</div>

                <div id="imagePreviewContainer">
                    <h3>Preview Image</h3>
                    <img id="imagePreview">
                </div>
                <button type="submit" class="submit-button">submit</button>

                <br/><br/>
                <!-- progress bar -->
                <div id="progressBarContainer" class="progress-bar-container"></div>
            </form>


            <hr class="fancy-horizontal-rule"/>
        </div>

        <div class="recent-images-section">
            <h3>Recent Images</h3>
            <hr class="fancy-horizontal-rule"/>
            <div id="recentlyUploadedImagesContainer" class="recently-uploaded-images-container">
                {{! not needed >images }}
            </div>
        </div>


    </div>
</div>