<div id="sounds-page">
    <h2>Sounds </h2>

    <form action="/instrument" id="soundsForm">

        <select name="selectedSound">
            {{#each_property soundOptions}}
            <option value="{{this.propertyName}}">{{this.propertyName}}</option>
            {{/each_property}}
        </select>

        <select name="selectedSound.selectedSubType">
            {{#each selectedSound.subTypes}}
                <option value="{{this}}" {{#if_conditional this ../selectedSound.selectedSubType}}selected{{/if_conditional}}>{{this}}</option>
            {{/each}}
        </select>

        <div class="add-node-section">
            <h3>Add Node</h3>
            <button id="addNodeButton">Add Node</button>
        </div>

        <div id="soundNodesContainer" class="sound-nodes-section">
            {{#each soundNodes}}
                {{! just create a container. the SoundNode widget will inject html into container}}
                <div id="soundNodeContainer{{this.uiId}}">sound node.</div>
            {{/each}}
        </div>

    </form>
</div>