@font-face {
	font-family: 'Conv_Quicksand_Book';
	src: url('fonts/Quicksand_Book.eot');
	src: local('☺'), url('fonts/Quicksand_Book.woff') format('woff'), url('fonts/Quicksand_Book.ttf') format('truetype'), url('fonts/Quicksand_Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Quicksand_Bold';
	src: url('fonts/Quicksand_Bold.eot');
	src: local('☺'), url('fonts/Quicksand_Bold.woff') format('woff'), url('fonts/Quicksand_Bold.ttf') format('truetype'), url('fonts/Quicksand_Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Quicksand_Book_Oblique';
	src: url('fonts/Quicksand_Book_Oblique.eot');
	src: local('☺'), url('fonts/Quicksand_Book_Oblique.woff') format('woff'), url('fonts/Quicksand_Book_Oblique.ttf') format('truetype'), url('fonts/Quicksand_Book_Oblique.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}