
%select{
    //background: transparent;
    //background:  url('../images/chordical/wood1.jpg');
    width: 150px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 30px;
    -webkit-appearance: none;

    border-style: solid;
    border-width: 0px 25px 0px 0px;
    -moz-border-image: url(http://labs.jasonmcaffee.com/images/chordical/select-arrow.png) 0 143 0 0 stretch round;
    -webkit-border-image: url(http://labs.jasonmcaffee.com/images/chordical/select-arrow.png) 0 143 0 0 stretch round;
    -o-border-image: url(http://labs.jasonmcaffee.com/images/chordical/select-arrow.png) 0 143 0 0 stretch round;
    border-image: url(http://labs.jasonmcaffee.com/images/chordical/select-arrow.png) 0 143 0 0 stretch round;


    background: rgb(255,255,255);
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(221,221,221,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(221,221,221,1)));
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(221,221,221,1) 100%);
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(221,221,221,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(221,221,221,1) 100%);
    background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(221,221,221,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=1 );





    //-webkit-box-shadow: inset 0px 0px 19px 0px rgba(0,0,0,0.51);
    //-moz-box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.51);
    box-shadow: inset 0px 0px 9px 0px rgba(0,0,0,0.51);
}