*{
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+  */

    -webkit-tap-highlight-color: rgba(0,0,0,0);

    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
}

ul{
    list-style: none;
    padding:0;
    margin:0;
}

dl{
    margin:0;
    padding:0;
}

h1{
    //these margins cause the page to scroll for some reason when the h1 is at the top of the page.
    margin-top:0px;
    margin-bottom:0px;

    padding-top: 5px;
    padding-bottom: 5px;
}
//
//a{
//    cursor:pointer !important;//todo: why is this needed?
//}