*{
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+  */
}

ul{
  list-style: none;
  padding:0;
  margin:0;
}

dl{
  margin:0;
  padding:0;
}
