
%shadow-centered-blur10-opacity7{
    -webkit-box-shadow: -1px 0px 10px rgba(50, 50, 50, 0.7);
    -moz-box-shadow:    -1px 0px 10px rgba(50, 50, 50, 0.7);
    box-shadow:         -1px 0px 10px rgba(50, 50, 50, 0.7);
}