//http://stackoverflow.com/questions/7908493/considerations-for-css3-transition-performance

//pages will be moved individually so non-moving static content (e.g. header, footer) can remain if desired.

//.move-page-off-screen-left{
//    -webkit-transform-style: preserve-3d;
//    -webkit-transform: translate(-400px, 0px);
//}
//
//.add-page-to-screen{
//    position:absolute;
//    left: 400px;
//}


//kicks in gpu acceleration by adding 3d transforms
%gpu-acceleration{
    -webkit-backface-visibility:hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}
//keyframes mixin
@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
      }
    @-moz-keyframes #{$name} {
        @content;
      }
    @-ms-keyframes #{$name} {
        @content;
      }
    @keyframes #{$name} {
        @content;
      }
}


.slide-in{
    position:absolute;
    top:0px;
    //left:0px;
    //left:400px;

    animation-name:slidein;
    -webkit-animation-name:slidein;

    animation-duration:200ms;
    -webkit-animation-duration:200ms;

    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.slide-out{
    position:absolute;

    animation-name:slideout;
    -webkit-animation-name:slideout;

    animation-duration:200ms;
    -webkit-animation-duration:200ms;

    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.no-fancypagetransitions{
    .slide-in{
        position:relative;
        display: block;
    }

    .slide-out{
        display:none;
    }
}


@include keyframes(slidein){
    0%{
        //margin-left:100%;
        //left: 400px;
        transform : translateX(100%);
        -webkit-transform : translateX(100%);
        -moz-transform: translateX(100%);
    }
    100%{
        transform : translateX(0%);
        -webkit-transform : translateX(0%);
        -moz-transform: translateX(0%);
    }
}
@include keyframes(slideout){
    0%{
        //margin-left:100%;
        //left:0px;
        transform : translateX(0%);
        -webkit-transform : translateX(0%);
        -moz-transform: translateX(0%);
    }
    100%{
        transform : translateX(-100%);
        -webkit-transform : translateX(-100%);
        -moz-transform: translateX(-100%);

        //opacity:0; <-- causes slight jerkiness on nexus
    }
}
//@keyframes slidein{
//    from{
//        margin-left:100%;
//
//    }
//    to{
//        margin-left:0%;
//    }
//}

//@keyframes slideout{
//    from{
//        margin-left:0%;
//
//    }
//    to{
//        margin-left:-100%;
//    }
//}

//@-webkit-keyframes slidein{
//    from{
//        margin-left:100%;
//
//    }
//    to{
//        margin-left:0%;
//    }
//}

//@-webkit-keyframes slideout{
//    from{
//        margin-left:0%;
//
//    }
//    to{
//        margin-left:-100%;
//    }
//}